body {
  text-align: center;
}

.content-root {
  color: #e0e0e0;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 1;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-root h2 {
  font-size: 3em;
  margin: 12px;
}

.content-root h4 {
  font-size: 2em;
  margin: 12px;
}

a {
  text-decoration: none;
}

.fade-enter {
  -webkit-transform: translate(100%, 0%) scale(0.3) rotateY(90deg);
          transform: translate(100%, 0%) scale(0.3) rotateY(90deg);
}
.fade-enter.fade-enter-active {
  -webkit-transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
          transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.fade-enter .page {
  position: absolute;
  z-index: 2;
}

.fade-exit {
  -webkit-transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
          transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
}

.fade-exit.fade-exit-active {
  -webkit-transform: translate(-100%, 0%) scale(0.3) rotateY(-90deg);
          transform: translate(-100%, 0%) scale(0.3) rotateY(-90deg);
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.fade-exit .page {
  position: absolute;
  z-index: 1;
}

.page-content {
  overflow-y: auto;
}

.fade-enter .page-content {
  overflow-y: unset;
}

.fade-exit .page-content {
  overflow-y: unset;
}

.page {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
}

p span, em span, strong span, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  background-color: rgba(0, 0, 0, 0.65);
}

/*.wordy {*/
  /*background-color: rgba(0, 0, 0, 0.7);*/
/*}*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Logo {
  position: relative;
  display: inline-block;
}

.Logo-react {
  -webkit-animation: Logo-spin infinite 10s linear;
          animation: Logo-spin infinite 10s linear;
  height: 100%;
}

.Logo-kotlin {
  opacity: 0;
  -webkit-animation: Logo-spin infinite 10s 5s linear;
          animation: Logo-spin infinite 10s 5s linear;
  height: 72%;
  position: absolute;
  top: 14%;
  right: 24%;
}

@-webkit-keyframes Logo-spin {
  from { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); opacity: 1 }
  50% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); opacity: 1 }
  51% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); opacity: 0 }
  to { -webkit-transform: rotateY(270deg); transform: rotateY(270deg); opacity: 0 }
}

@keyframes Logo-spin {
  from { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); opacity: 1 }
  50% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); opacity: 1 }
  51% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); opacity: 0 }
  to { -webkit-transform: rotateY(270deg); transform: rotateY(270deg); opacity: 0 }
}

.about-tabs {
    background-color: #ffffff;
    display: inline-block;
    margin: 12px;
}

.about-slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

/*.slick-list {*/
    /*overflow: unset;*/
/*}*/


.history-grid div[class^="MuiPaper"]{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
}

.history-grid span[class^="MuiIconButton"]{
    color: white;
}

.history-grid div[class^="MuiExpansionPanelSummary"] svg[class^="MuiSvgIcon"]{
    display: none;
}

.history-grid div[class^="MuiExpansionPanelDetails"]{
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.history-grid div[class^="MuiGrid-item-2 MuiGrid-grid-xs-3-32"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.history-grid {
    margin: 8px 0 8px 0;
}
.skills-tile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 4px;
}

.skills-tile h5 {
    margin-right: 8px;
    width: 45%;
    text-align: right;
}

.skills-tile p {
    text-align: left;
    width: 55%;
    padding-left: 2%;
    margin-right: 16px;
}

.about-skills {
    margin-bottom: 20px;
    margin-top: 20px;
}

.skills-root div[class^="MuiCardContent"]{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.skills-root div[class^="MuiPaper"]{
    border: solid 8px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.skills-mobile-slider div[class^="MuiCardContent"]{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
}

.skills-mobile-slider div[class^="MuiPaper"]{
    border: solid 8px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.skills-root span[class^="MuiIconButton"]{
    color: white;
}

.skills-mobile-slider {
    display: none;
}

@media only screen and (max-width: 670px) {
    .skills-mobile-slider {
        display: unset;
        color: white;
    }

    .about-skills {
        display: none;
    }

    .skills-root {
        overflow-y: hidden;
    }
}
.value-pillars {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: baseline;
        align-items: baseline;
    margin-top: 20px;
}

.value-pillar {
    width: calc(33% - 24px);
    max-width: 400px;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 12px;
}

.value-pillar-icon {
    margin-bottom: 22px;
}

.about-mobile-slider {
    display: none;
}

.about-values {
    overflow-y: hidden;
}

@media only screen and (max-width: 760px) {
    .value-pillars {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        display: none;
    }

    .value-pillar {
        width: unset !important;
        max-width: unset;
    }

    .about-mobile-slider {
        display: unset;
    }
}
#home-button-group {
    width: unset;
    margin: unset;
}

.App-intro {
    font-size: large;
}

.App-ticker {
    font-size: medium;
}

.App-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portrait-img {
    border-radius: 10%;
    border: 6px double #e0e0e0;
    margin: 10px;
}

/*# sourceMappingURL=main.c6c9a908.css.map*/