body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.content-root {
  color: #e0e0e0;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 1;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-root h2 {
  font-size: 3em;
  margin: 12px;
}

.content-root h4 {
  font-size: 2em;
  margin: 12px;
}

a {
  text-decoration: none;
  color: #00aaff;
}

.fade-enter {
  -webkit-transform: translate(100%, 0%) scale(0.3) rotateY(90deg);
          transform: translate(100%, 0%) scale(0.3) rotateY(90deg);
}
.fade-enter.fade-enter-active {
  -webkit-transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
          transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.fade-enter .page {
  position: absolute;
  z-index: 2;
}

.fade-exit {
  -webkit-transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
          transform: translate(0%, 0%) scale(1.0) rotateY(0deg);
}

.fade-exit.fade-exit-active {
  -webkit-transform: translate(-100%, 0%) scale(0.3) rotateY(-90deg);
          transform: translate(-100%, 0%) scale(0.3) rotateY(-90deg);
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.fade-exit .page {
  position: absolute;
  z-index: 1;
}

.page-content {
  overflow-y: auto;
}

.fade-enter .page-content {
  overflow-y: unset;
}

.fade-exit .page-content {
  overflow-y: unset;
}

.page {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
}

p span, em span, strong span, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  background-color: rgba(0, 0, 0, 0.65);
}

.slick-dots li button:before {
  color: #e0e0e0;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

/*.wordy {*/
  /*background-color: rgba(0, 0, 0, 0.7);*/
/*}*/
#ContactMe-item-1 {
    display: none;
}
.about-tabs {
    background-color: #ffffff;
    display: inline-block;
    margin: 12px;
}

.about-slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.about-nav {
    margin-top: 12px;
}

/*.slick-list {*/
    /*overflow: unset;*/
/*}*/


.history-grid .history-panel{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
}

.history-grid span{
    color: white;
}

.history-grid .history-panel-summary > div > svg {
    display: none;
}

.history-grid .history-panel-details {
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 12px;
    padding-top: 0;
}

.history-grid .history-panel-details p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.history-grid .history-icon-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.history-grid {
    margin: 8px 0 8px 0;
}
.skills-tile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 4px;
}

.skills-tile h5 {
    margin-right: 8px;
    width: 45%;
    text-align: right;
}

.skills-tile p {
    text-align: left;
    width: 55%;
    padding-left: 2%;
    margin-right: 16px;
}

.about-skills {
    margin-bottom: 20px;
    margin-top: 20px;
}

.skill-card-content{
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.skills-root .skill-card{
    border: solid 1px white;
    border-radius: 4px;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    text-align: left;
}

.skills-mobile-slider .skill-card-content{
    color: white;
    background-color: rgba(0.11, 0.11, 0.11, 0.65);
    border: solid 1px white;
    border-radius: 4px;
}

.skills-mobile-slider .skill-card{
    border: solid 8px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.skills-root span{
    color: white;
}

.skills-mobile-slider {
    display: none;
}

@media only screen and (max-width: 670px) {
    .skills-mobile-slider {
        display: unset;
        color: white;
    }

    .about-skills {
        display: none;
    }

    .skills-root {
        overflow-y: hidden;
        margin-left: 12px;
        margin-right: 12px;
        border: 2px solid white;
    }
}
.value-pillars {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: baseline;
        align-items: baseline;
}

.value-pillar {
    width: calc(33% - 24px);
    max-width: 400px;
    -ms-flex-direction: column;
        flex-direction: column;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 12px;
    padding: 12px;
}

.value-pillar-icon {
    margin-bottom: 22px;
}

.value-pillar-content {
    max-width: 300px;
    -ms-flex-item-align: center;
        align-self: center;
}

.value-pillar-title {
    font-size: 25px;
}

.about-mobile-slider {
    display: none;
}

.about-values {
    overflow-y: hidden;
}

@media only screen and (max-width: 850px) {
    .value-pillars {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        display: none;
    }

    .value-pillar {
        width: unset !important;
        max-width: unset;
        border: 1px white solid;
        border-radius: 4px;
        background-color: rgba(0.11, 0.11, 0.11, 0.65);
    }

    .about-mobile-slider {
        display: unset;
    }

    .about-values {
        margin-left: 12px;
        margin-right: 12px;
        border: 2px solid white;
    }
}
#home-button-group {
    width: unset;
    margin: unset;
}

.App-intro {
    font-size: large;
}

.App-ticker {
    font-size: medium;
}

.App-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.privacy-policy-link  {
    margin-top: 32px;
}

.privacy-policy-link a {
    color: #0066ff9e;
}
.portrait-img {
    border-radius: 10%;
    border: 6px double #e0e0e0;
    margin: 10px;
}
.privacy-policy {
    max-width: 600px;
    -ms-flex-pack: center;
        justify-content: center;
}

.privacy-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}
.project-card-media {
    height: 256px;
    border: solid 1px white;
    border-radius: 4px;
}

.project-card {
    border: solid 1px white;
    border-radius: 4px;
    background-color: rgba(0.11, 0.11, 0.11, 0.65) !important;
    height: 100%;
}

.project-card-content {
    color: white;
}

.project-modal p, .project-modal h4 {
    text-align: left;
}

.project-modal-paper {
    border: solid 1px white;
    border-radius: 4px;
    background-color: rgba(0.11, 0.11, 0.11, 0.95) !important;
    color: white;
}

.project-image-slide {
    border: double 6px white;
    border-radius: 4px;
}

.project-modal-slider {
    margin-left: -24px;
    margin-right: -24px;
}

.project-modal-slider .slick-slide {
    padding: 16px;
}

.project-modal-slider .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.project-modal-buttons {
    margin: 40px 16px 16px;
}

.project-modal-buttons a {
    margin: 8px;
    font-size: 1.1em;
}

.project-modal-button-icon {
    margin-left: 8px;
    margin-bottom: 1px;
    font-size: 1.2em;
}

.project-title {
    margin: unset;
}

/*# sourceMappingURL=main.fee1ab9a.css.map*/